.gradient-custom {
  /* fallback for old browsers */
  /* background: #6a11cb; */

  /* Chrome 10-25, Safari 5.1-6 */
  /* background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1)); */

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1)) */

  /* background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);  */
  background-color: #e6e6e6;
}

.logo-img {
  height: 130px;
}
.btn {
  position: relative;
  top: 40px;
  margin: 5% 10%;
}

.login-holder {
  display: flex;
}

.emp-login-card {
  margin: 5% 2.5%;
}

.admin-login-card {
  margin: 5% 2.5%;
}
